* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',
    sans-serif;
  background-color: #353D4F;
  color: #CECFD3;
}

/* BUTTON STYLES */
.btn {
  background: linear-gradient(89.51deg, #FF7580 0.81%, #FF9187 35.87%, #FFC3A0 89.37%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  width: 20rem;
  height: 3.6rem;
  margin: 1rem;
  color: #CECFD3;
}

.btn:hover {
  background: linear-gradient(89.51deg, #CD5F68 0.81%, #DF7F76 35.87%, #EAB393 89.37%);
}

/* INPUT FIELD STYLES */
.input-field {
  background: #5D6475;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  width: 20rem;
  height: 3.6rem;
  margin: 1rem;
  padding: 20px;
  border-radius: 20px;
  border: 0;
}

.input-field::placeholder {
  color: #CECFD3;
  font-size: 15px;
  font-weight: 300;
}

.input-field:focus {
  outline: none;
}